/* Color Variables*/

$body-bg: #0f0f0f;
$primary-color: #e0005d;
$primary-text-color: #fff;
$white: #fff;
$black: #000;
/* Typography */
$primary-font-family: "Play", sans-serif;
$secondary-font-family: "Exo", sans-serif;

/*Layout*/

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$laptop-width: 250px;
$laptop-screen-width: 1200px;
$tablet-width: 200px;
$tablet-screen-width: 1024px;
$mobile-width: 80px;
$mobile-screen-width: 680px;

$laptop-height: 360px;
$tablet-height: 280px;
$mobile-height: 120px;
