@use "../../assets/scss/" as *;

.movie-card {
  width: $laptop-width;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  @include tablet {
    width: $tablet-width;
  }

  @include mobile {
    width: $mobile-width;
  }

  &__image {
    height: $laptop-height;
    width: $laptop-width;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease all;
    @include tablet {
      height: $tablet-height;
      width: $tablet-width;
    }

    @include mobile {
      height: $mobile-height;
      width: $mobile-width;
    }
  }

  &__image::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0;
    transition: 0.3s ease all;
  }

  &__title {
    width: $laptop-width;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      width: $tablet-width;
    }

    @include mobile {
      width: $mobile-width;
    }
    margin-top: 0.6rem;
  }

  &__release {
    position: absolute;
    top: 10px;
    right: 10px;
    background: $black;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    color: $white;

    @include mobile {
      top: 3px;
      right: 3px;
      font-size: 9px;
    }
  }
  .movie-buttons {
    display: flex;
    position: absolute;
    font-weight: 600;
    color: #fff;
    z-index: 222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
  }
  .watchlist-container {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 400ms;
    // filter: invert(17%) sepia(98%) saturate(5645%) hue-rotate(327deg)
    //   brightness(85%) contrast(108%);
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(90deg)
      brightness(104%) contrast(104%);
  }
  .watchlist-container.watchlist {
    filter: invert(17%) sepia(98%) saturate(5645%) hue-rotate(327deg)
      brightness(85%) contrast(108%);
  }
  .favorite-container {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 400ms;
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(90deg)
      brightness(104%) contrast(104%);
    // filter: invert(17%) sepia(98%) saturate(5645%) hue-rotate(327deg)
    //   brightness(85%) contrast(108%);
  }
  .favorite-container.liked {
    filter: invert(17%) sepia(98%) saturate(5645%) hue-rotate(327deg)
      brightness(85%) contrast(108%);
  }
}

.movie-card > img {
  position: absolute;
  // z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease width;
  width: 0;
}

.movie-card:hover {
  .movie-card__image {
    transform: scale(1.3);
  }
  .movie-buttons {
    opacity: 1;
    visibility: visible;
  }
  .movie-card__image::before {
    opacity: 0.8;
  }
  img {
    width: 70px;

    @include mobile {
      width: 35px;
    }
  }
}
